PORT=3000
HOST=localhost
NODE_ENV=development

DATABASE_URL="mysql://root:@localhost:3306/good_eat"
DATABASE_USER="root"
DATABASE_PASSWORD=
DATABASE_NAME=good_eat
DATABASE_HOST=localhost
DATABASE_PORT=3306